input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="countries" type="countriesType"/>
  <xs:complexType name="countryType" mixed="true">
    <xs:sequence>
      <xs:element name="country_name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="France"/>
            <xs:enumeration value="Ukraine"/>
            <xs:enumeration value="Russia"/>
            <xs:enumeration value="Belarus"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="population">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="66.9"/>
            <xs:enumeration value="41.9"/>
            <xs:enumeration value="144.5"/>
            <xs:enumeration value="9.4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="countriesType">
    <xs:sequence>
      <xs:element type="countryType" name="country" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>